* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: steelblue;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
}

.fill {
  height: 145px;
  width: 145px;
  background-image: url(pexels-wildlittlethingsphoto-2253275.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fill.hold {
    border: solid 5px rgb(206, 191, 191);
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
