* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    whitesmoke 0%,
    whitesmoke 50%,
    steelblue 50%,
    steelblue 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: white;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  padding: 0 20px;
  transition: width 0.6s linear;
}
.nav.active {
  width: 400px;
  transition: width 0.6s linear;
}

.nav ul {
  position: absolute;
  left: 20px;
  display: flex;
  list-style: none;
  padding: 10px;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.nav.active a {
  opacity: 1;
  transition: opacity 0.6s linear;
}

.icon {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.btn {
  width: 100%;
  height: 100%;
  position: relative;
}

.icon:focus,
.icon:active {
  outline: none;
}

.icon .line1 {
  position: absolute;
  top: 15px;
  width: 25px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightblue;
}

.icon .line2 {
  position: absolute;
  bottom: 15px;
  width: 25px;
  left: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightblue;
}

.nav.active .line1 {
  transform: rotateZ(225deg) translateY(-5px);
  transition: transform 0.6s linear;
}

.nav.active .line2 {
  transform: rotateZ(-225deg) translateY(5px);
  transition: transform 0.6s linear;
}
